#head{
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
   background-color: #7E0400;
   
}
#menu{
    border: 1px solid black;
    width: 100%;
    background-color: #E4E4E4;
    color: #3f3e3e;
}
.sidebar{
   background-color: #e4e4e4;
   padding: 10px;
   line-height: 28px;
   height:300px;
   width: 180px;
   align-items: center;
   display: flex;
   position:absolute;
   margin: 10px;
}
.headings h2, h3, a{
    color: #c00600;
}
.headings{
    position: absolute;
    width: calc(100% - 300px);
    left: 260px;
}