body {
    border: 5px solid #73A8BF;
    font-family: sans-serif;
}

header {
    border: 3px solid #f6ba96;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
}

.logo {
    background-color: blue;
}

.prot {
    display: flex;
    flex-wrap: wrap;
}

.products {
    background-color: orangered;
}

.team {
    background-color: skyblue;
}
main {
    display: flex;
    height: 70vh;
}
.chat1 {
    border: 4px solid #73A8BF;
    margin: 30px;
    display: flex;
}
.chat2 {
    flex-direction: row-reverse;
}
.profile .chat {
    display: inline-block;
}

.profile>img {
    width: 60px;
    height: 60px;
}
.chats {
    display: grid;
    align-items: center;
}
.p-name1 {
    justify-self:right;
}
.main-sec {
    width: 70%;
}
.left-sec {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 4px solid #73A8BF;
    width: 30%;
}
.center {
    height: 80px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: skyblue;
    color: white;
}
footer {
    display: flex;
    border: 4px solid #73A8BF;
    justify-content: space-between;
    padding: 30px;
    color: white;
    flex-wrap: wrap;
}
.contact {
    background-color: orangered;
    flex-grow: 1;
}
.carreer {
    background-color: lightskyblue;
    flex-grow: 3;
}
.about {
    flex-grow: 1;
    background-color: lightgreen;
}